<html>
  <head>
    <title>Abyssinia - Administration</title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <div id="main" class="admin">
      <div id="content_div">
        <form action="/admin/news/" method="post">
          <textarea name="news_request[newsText]" value=""><%= @news_text.present? ? @news_text.news_text : '' %></textarea>
          <br /><input type="submit" value="Sauvegarder" />
          <a class="compile" href="/admin/compile"><input value="publier" type="submit"></a>
        </form>
        <%= @status_news %>
        <div id="email_list">
          <form action="/admin/delete" method="delete">
            <input type="submit" value="Delete" /><input name="email_request[email]" value="" />
          </form>
          <form action="/admin/emails.csv" method="get">
            <input type="submit" value="Export to CSV" />
          </form>
        </div>
        <%= @status_email %>
      </div>
    </div>
  </body>
</html>
